.employee-card-list {
    margin: 0 auto;
    display: flexbox;
    width: 85vw;

    .employee-image {
      display: flex;
      align-items: left;
      vertical-align: top;
    }

    .employee-name {
      margin-left: 5px;
      text-align: left;
    }

    .employee-details {
      
      margin-left: 15px;
      text-align: left;
      font-size: small;
    }

  }
 