.employee-container {
    display: inline-block;
    
  .container-header {
    font-size: 18px;
    font-family: 'Bigelow Rules';
  }
  
  .container-subheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
    .button-spacer{
      width:5px;
      height:auto;
      display:inline-block;
    }

    .employee-search {
      display: flex;
      height: 25px;
      float:right
    
      .search-spacer{
        width:5px;
        height:auto;
        display:inline-block;
      }
    }
  }
    
  .employee-table-view {
    display: grid;
  }
  .employee-list-view {
    display: flex;
  }

}