/*.employee-list-container {
    display: flexbox;
    flex-direction: column;
    background-color: #ffffff;
    // border: 1px solid #c1272e;
    border-radius: 5px;
    padding: 5px;
    
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  
  .employee-card-container:hover {
    transform: scale(1.05);

    .employee-image {
      display: flex;
      align-items: left;
      vertical-align: top;
    }

    .employee-name {
      margin-left: 5px;
    }

    .employee-details {
      
      margin-left: 15px;
      text-align: left;
      font-size: small;
    }
  }
}
  */